## Claude Code
.claude/*.json

## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## VS
.vs/
*.rsuser

## Rider
.idea/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## User settings with API key
src/VirusTotalScanner/appsettings.json

## Scan results
scan_results_*.csv
/src/VirusTotalScanner/VirusTotalScanner.lnk
/src/VirusTotalScanner/Properties/launchSettings.json
